{:paths ["src/clojure"]

 :deps {org.clojure/clojure       {:mvn/version "1.10.3"}
        org.clojure/core.async    {:mvn/version "1.3.618"}
        org.clojure/core.cache    {:mvn/version "1.0.207"}
        org.clojure/spec.alpha    {:mvn/version "0.2.194"}
        ;; org.clojure/spec-alpha2   {:git/url "https://github.com/clojure/spec-alpha2"
        ;;                            :sha     "253204016026a259fef5d62702cd6562273af737"}
        org.clojure/core.match    {:mvn/version "1.0.0"}
        com.rpl/specter           {:mvn/version "1.1.3"}
        net.cgrand/xforms         {:mvn/version "0.19.2"}
        org.zeromq/jeromq         {:mvn/version "0.5.2"}
        org.clojure/tools.cli     {:mvn/version "1.0.194"}
        com.taoensso/timbre       {:mvn/version "5.1.2"}
        ;; org.clojure/tools.logging {:mvn/version "1.1.0"}
        ;; org.slf4j/slf4j-api       {:mvn/version "1.7.30"}
        org.slf4j/slf4j-simple    {:mvn/version "1.7.30"}
        uncomplicate/neanderthal  {:mvn/version "0.40.0"
                                   :exclusions [org.jcuda/jcuda-natives
                                                org.jcuda/jcublas-natives]}
        com.github.oshi/oshi-core-java11 {:mvn/version "5.7.3"}
        org.bytedeco/mkl-platform-redist {:mvn/version "2021.1-1.5.5"}

        nrepl/nrepl               {:mvn/version "0.8.3"}
        ,}

 :aliases {:repl/rebel
           {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
            :main-opts  ["-m" "rebel-readline.main"]}

           :repl/cider
           {:extra-deps {cider/cider-nrepl {:mvn/version "0.26.0"}}
            :main-opts  ["-m" "nrepl.cmdline" "-i" "-p" "9000" "--middleware" "[cider.nrepl/cider-middleware]"]
            :jvm-opts   ["-Dclojure.core.async.pool-size=20"]}

           :vlaaad/remote
           {:extra-deps {vlaaad/reveal {:mvn/version "1.3.209"}}
            :ns-default vlaaad.reveal
            :exec-fn remote-prepl
            :exec-args {:port 8001}}

           ;; :replremot/ecsn002
           ;; {:extra-deps {cider/cider-nrepl {:mvn/version "0.26.0"}}
           ;;  :main-opts  ["-m" "nrepl.cmdline" "-i" "-p" "8002" "--middleware" "[cider.nrepl/cider-middleware]"]
           ;;  :jvm-opts   ["-Dclojure.core.async.pool-size=48" "-Xmx110g"]}

           :dev-repl/ecsn002
           {:extra-deps {cider/cider-nrepl              {:mvn/version "0.26.0"}
                         refactor-nrepl/refactor-nrepl  {:mvn/version "2.5.0"}
                         nrepl/nrepl                    {:mvn/version "0.8.3"}
                         org.clojure/tools.analyzer     {:mvn/version "1.0.0"}
                         org.clojure/tools.analyzer.jvm {:mvn/version "1.1.0"}
                         ;; org.clojure/test.check        {:mvn/version "1.1.0"}
                         ;; nasser/test.check             {:git/url "https://github.com/nasser/test.check"
                         ;;                                :sha     "1c4cc416c68589c7c308b28bf914af27c98e7157"
                         ;;                                :deps/manifest :deps}
                         ;; nasser/magic                  {:git/url "https://github.com/nasser/magic"
                         ;;                                :sha     "7b8c1d770c1f31e6d1abf1115aa69c5e6d4c4317"
                         ;;                                :deps/manifest :deps}
                         ,}
            :exec-fn    pct.util.repl/start-repl
            :exec-args  {:interactive true
                         :port 8000
                         :middleware [cider.nrepl/cider-middleware,
                                      refactor-nrepl.middleware/wrap-refactor]
                         :color true
                         :verbose true
                         ;; :global-vars {*warn-on-reflecntion* true
                         ;;               *unchecked-math* :warn-on-boxed}
                         ,}
            :main-opts  ["-m" "nrepl.cmdline" "-i" "-p" "8000"
                         "--middleware" "[cider.nrepl/cider-middleware]"]
            :jvm-opts ^:replace ["-Dclojure.core.async.pool-size=48" "-Xmx110g"
                                 "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"]}

           :dev-repl/lm001
           {:extra-deps {cider/cider-nrepl              {:mvn/version "0.26.0"}
                         refactor-nrepl/refactor-nrepl  {:mvn/version "2.5.0"}
                         nrepl/nrepl                    {:mvn/version "0.8.3"}
                         org.clojure/tools.analyzer     {:mvn/version "1.0.0"}
                         org.clojure/tools.analyzer.jvm {:mvn/version "1.1.0"}
                         ,}
            :exec-fn    pct.util.repl/start-repl
            :exec-args  {:interactive true
                         :port 8000
                         :middleware [cider.nrepl/cider-middleware,
                                      refactor-nrepl.middleware/wrap-refactor]
                         :color true
                         :verbose true
                         ;; :global-vars {*warn-on-reflecntion* true
                         ;;               *unchecked-math* :warn-on-boxed}
                         ,}
            :main-opts  ["-m" "nrepl.cmdline" "-i" "-p" "8000"
                         "--middleware" "[cider.nrepl/cider-middleware]"]
            :jvm-opts ^:replace ["-Dclojure.core.async.pool-size=72" "-Xmx256g"
                                 "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"]}

           :dev-repl/lm001-jmc
           {:extra-deps {cider/cider-nrepl              {:mvn/version "0.26.0"}
                         refactor-nrepl/refactor-nrepl  {:mvn/version "2.5.0"}
                         nrepl/nrepl                    {:mvn/version "0.8.3"}
                         org.clojure/tools.analyzer     {:mvn/version "1.0.0"}
                         org.clojure/tools.analyzer.jvm {:mvn/version "1.1.0"}
                         ,}
            :main-opts  ["-m" "nrepl.cmdline" "-i" "-p" "8000"
                         "--middleware" "[cider.nrepl/cider-middleware]"]
            :jvm-opts ^:replace ["-Dclojure.core.async.pool-size=72" "-Xmx256g"
                                 "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"
                                 ;; for remote JMC profiling.
                                 ;; When forwarding ports, client port need to match server port
                                 "-Dcom.sun.management.jmxremote=true"
                                 "-Dcom.sun.management.jmxremote.port=7091"
                                 "-Dcom.sun.management.jmxremote.rmi.port=7091"
                                 "-Djava.rmi.server.hostname=localhost"
                                 "-Dcom.sun.management.jmxremote.authenticate=false"
                                 "-Dcom.sun.management.jmxremote.ssl=false"]}

           :dev-repl/local
           {:extra-deps {cider/cider-nrepl             {:mvn/version "0.26.0"}
                         ;; refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}
                         nrepl/nrepl                   {:mvn/version "0.8.3"}
                         vlaaad/reveal                 {:mvn/version "1.3.209"}}
            :exec-fn    pct.util.repl/start-repl
            :exec-args  {:interactive true
                         :port 9000
                         :middleware [cider.nrepl/cider-middleware,
                                      ;; refactor-nrepl.middleware/wrap-refactor ;; bad with reveal
                                      vlaaad.reveal.nrepl/middleware]
                         :color true
                         :verbose true}
            :main-opts  ["-m" "nrepl.cmdline" "-i" "-p" "8000"
                         "--middleware" "[cider.nrepl/cider-middleware vlaaad.reveal.nrepl/middleware]"]
            :jvm-opts ["-Dclojure.core.async.pool-size=32"
                       ;; For uncomplicate/neanderthal, with java 9+
                       "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"]}

           :dev-test/hello
           {:exec-fn pct.util.test/hello
            :exec-args {:stuff "world!"}
            :jvm-opts ["--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"]}

           :dev-test/load-test
           {:exec-fn pct.util.test/load-test
            :jvm-opts ["--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"]}

           :env/dev-remote
           {:extra-paths ["dev/remote"]
            :extra-deps {;; add-lib3 branch
                         ;; usage: (add-libs '{com.rpl/specter {:mvn/version "1.1.3"}})
                         org.clojure/tools.deps.alpha  {:git/url "https://github.com/clojure/tools.deps.alpha"
                                                        :sha     "241cd24c35ba770aea4773ea161d45276e5d3a73"}}}

           :env/dev-local
           {:extra-paths ["dev/local"]
            :extra-deps {;; add-lib3 branch
                         ;; usage: (add-libs '{com.rpl/specter {:mvn/version "1.1.3"}})
                         org.clojure/tools.deps.alpha  {:git/url "https://github.com/clojure/tools.deps.alpha"
                                                        :sha     "241cd24c35ba770aea4773ea161d45276e5d3a73"}}}

           :env/run-lm001
           {:extra-paths ["run/lm001"]
            :extra-deps {;; add-lib3 branch
                         ;; usage: (add-libs '{com.rpl/specter {:mvn/version "1.1.3"}})
                         org.clojure/tools.deps.alpha  {:git/url "https://github.com/clojure/tools.deps.alpha"
                                                        :sha     "241cd24c35ba770aea4773ea161d45276e5d3a73"}}}
           ,}
 ;; :mvn/repos {
 ;;             "central" {:url "https://repo1.maven.org/maven2/"}
 ;;             "clojars" {:url "https://repo.clojars.org/"}
 ;;             ,}
 ,}
